


h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    min-height: 40px;
    margin: 150px auto 30px auto;
}


div.slideshow-4 {
    width: 80%;
    max-width: 900px;
    height: 500px !important;
    margin: 40px;
	margin-left:200px;
    position: relative;
	overflow:hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
	
}

 p.title{
	text-align:center;
	padding-bottom:30px;
	overflow:hidden;
	color:#3378C3;
}

p.title:hover{
	color:#0099ff;
}


.slides-box .slide img {
	width:100%;
    display: block;
	margin:0 auto;
}

.slideshow-buttons {
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.slideshow-buttons div {
    color: white;
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

.slideshow-buttons .next-btn {
    margin-left: 4%;
    transition: all ease-in-out 0.3s;
    text-shadow: 1px 1px 2px black;
}

.slideshow-buttons .next-btn:hover {
    transform: translateX(4px);
}

.slideshow-buttons .prev-btn {
    transition: all ease-in-out 0.3s;
    text-shadow: 1px 1px 2px black;
}

.slideshow-buttons .prev-btn:hover {
    transform: translateX(-4px);
}
