
.social_icons_container {

    text-align: center;

    align-items: center;

display: inline-flex;

        margin: 0px !important;

}

.font_icons {

padding: 6px 13px 6px 13px;

    cursor: pointer;

font-size: 15px;

    color: black;

    transition: 0.1s all ease-in-out;

}

.font_icons:hover {

    background: black;

    color: white;

}

.share_text {

    margin-bottom: 1px;

    font-size: 16px;

    color: black;

    margin-right: 10px;

}
